@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Rowdies:wght@300;400;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root
{
    --corBotoesH2Texto: #FFAE00;
    --arredondamentoBordas: 10px;
    --fontDaProf: "Playwrite PL", cursive;
    --minhaFonte: "Rowdies", sans-serif;
}

body
{
    background-image: url(imagens/bg.png);
    /* Descomente par aplicar uma imagem sem repetição */
    /* background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
}

header
{
    background-color: #1E1F22;
    text-align: center;
    padding: 15px;
}

.logo
{
    width: 250px;
}

nav a
{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    font-family: var(--minhaFonte);
}

h1
{
    text-transform: uppercase;
}

h2
{
    color: var(--corBotoesH2Texto);
    text-align: center;
}

.imagemProduto
{
    width: 400px;
}

.boxProduto
{
    background-color: rgba(37, 37, 37, 0.8);
    margin: auto;
    width: 850px;
    border-radius: var(--arredondamentoBordas);
}

.boxImg, .boxTexto
{
    display: inline-block;
    vertical-align: middle;
}

.boxTexto
{
    width: 400px;
    text-align: start;
}

h1, h2, h3 , button
{
    margin: 10px 0;
}

button
{
    background-color: var(--corBotoesH2Texto);
    padding: 15px;
    border-radius: var(--arredondamentoBordas);
    border: none;
    width: 150px;
    cursor: pointer;
}

.h2carrinho {
    display: flex;
    align-items: center;
}

.btncarrinho {
    color: black;
    padding: 0;
    border-radius: var(--arredondamentoBordas);
    border: none;
    width: 22%;
    cursor: pointer;
}

.TP {
    display: flex;
    color: white;
    justify-content: end;
    padding: 0 10px;
}

.btncards {
    border-radius: 50px;
    color: black;
    padding: 0;
    border: none;
    width: 20px;
    height: 35px;
    cursor: pointer;
}

.inputcards {
    text-align: center;
    padding-left: 15px;
    margin: 0 15px;
}

.imgcard {
    display: flex;
    align-items: center;
    justify-content: center;
}